@import "mixins.scss";
@import "variables.scss";

html, body {
    height: 100%;
}

body {
    &.fixed {
        position: fixed;
    }
}
.mobileImage {
    display: block;

    @include min-width('large') {
        display: none;
    }
}

.desktopImage {
    display: none;

    @include min-width('large') {
        display: block;
    }
}

header {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;

    @include min-width('large') {
        background-color: white;
        z-index: 3;
    }
    .logoContainer {
        flex: 1;
        padding: 31px 0 0 25px;

        @include min-width('large'){
            padding-left: 167px;
        }
    }

    .hamburgerMobile {
        flex: 1;
        position: relative;


        @include min-width("large") {
            display: none;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            right: 23px;
        }
    }

    .hamburgerButton {
        &.hide {
            display: none;
        }
    }

    .closeButton {
        display: none;
        &.visible {
            display: block;
        }

        @include min-width("large") {
            display: none;
        }
    }
    nav {
        display: none;

        &.visible {
            display: flex;
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: $veryDarkViolet;
            z-index: 999;
            top: 80px;
            text-transform: uppercase;
            font-family: $copy;
            flex-direction: column;
            text-align: center;
            padding-top: 48px;
            letter-spacing: 2.3px;

            a {
                text-decoration: none;
                color: $veryLightGray;
                margin-bottom: 41px;
                font-size: 20px;

                @include min-width("large") {
                    font-size: 14px;
                    letter-spacing: 1px;
                }
                
            }

            button {
                padding: 15px;
                margin: -7px 24px;
                letter-spacing: 1.7px;
                background: $veryDarkViolet;
                border: 1px solid $veryLightGray;
            }
            .navBgImg
            {
                position: absolute;
                bottom: 129px;
                left: 0;
                width: 100%;
            }

            @include min-width("large"){
                display: none;
            }
        }

        @include min-width("large"){
            display: block;
            flex: 1;
            padding: 22px 0 0 48px;
            text-transform: uppercase;
            font-family: $copy;
            font-size: 14px;
            letter-spacing: 1px;
          

            a {
                text-decoration: none;
                color: $darkGrayishViolet;
                margin-right: 21px;
                font-weight: 700;

                &:active {
                    color: $darkViolet;
                }
            }

            button {
                &:active {
                    background-color: $darkViolet;
                    a{
                        color: $veryLightGray;
                    }
                }
            }

            .viewPlansBtn {
                padding: 10px 28px;
                border: 1px solid $darkGrayishViolet;
                background-color: white;
                font-weight: 400;
                margin-left: 7px;
                a {
                    margin-right: 0;
                }

                @include min-width("large"){
                    font-size: 13px;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}

h1 {
    position: relative;
    z-index: 2;
    font-family: $heading;
    color: $veryLightGray;
    font-size: $headingSize;
    letter-spacing: $letterSpacing;

}

h3 {
    font-family: $heading;
    font-size: 28px;
    letter-spacing: -1px;
    margin: 32px 0 4px;

    @include min-width("large") {
        margin: 35px 0 20px;
    }
}

p {
    font-family: $copy;
    color: $veryLightGray;
    padding: 0 26px;
    line-height: 26px;
    margin-bottom: 24px;

    @include min-width("large") {
        padding: 0 24px;
        line-height: 25px;
    }
}

button {
    text-decoration: none;
    background-color: $darkViolet;
    border: 1px solid $veryLightGray;
    text-transform: uppercase;
    font-family: $copy;
    font-weight: 700;
    cursor: pointer;
    color: $veryLightGray;

    &:active {
        background-color: $veryLightGray;
        color: $darkViolet;
    }
}

.ctaContainer { 

    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 952px;
    background-color: $darkViolet;
    position: relative;

    @include min-width("large") {
        min-height: 600px;
    }

    .copyContainer {
        flex-grow: 1;
        position: relative;
        h1 {
            padding: 89px 22px 0;
            line-height: 50px;
            margin: 0;
        }
        p {
            margin-bottom: 32px;
        }
        button {
            padding: 10px 26px;
            margin-bottom: 28px;
        }

        .line {
            display: none;
    
            @include min-width('large') {
                display: block;
                width: 151px;
                position: absolute;
                left: 165px;
                top: 105px;
                height: 5px;
                border-top: 1px solid $grayishBlue;
            }
        }

        @include min-width('large') {
            .articleContainer {
                width: 50%;
                box-sizing: border-box;
                padding: 173px 16px 0 166px;
                text-align: left;
                h1 {
                    font-size: 70px;
                    padding: 0 10px 17px 0;
                    line-height: 60px;
                }
                p {
                    padding: 0;
                }
                
            }
        }
    }
    
    .leftBgImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 44%;

        @include min-width('large') {
            width: 13.5%;
            top: 431px;
        }
    }

    .rightBgImg {
        position: absolute;
        bottom: -181px;
        right: 0;
        z-index: 1;
        width: 34%;

        @include min-width('large') {
            z-index: 1;
            width: 30%;
            right: 3px;
            top: -79px;
        }
    }

    img {
        width: 100%;
        height: auto;

        @include min-width('large') {
            position: absolute;
            right: 11.5%;
            width: 37.5%;
            top: 106px;

        }
    }

}

.presentationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 79px;
    position: relative;
    z-index: 999;
    @include min-width('large') {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        padding: 0 133px 0 165px;
        margin: 351px 0 101px 0;

        h1 {
            flex: 0 0 100%;
            margin: 9px 0 88px 0;
            font-size: 70px;
        }

        p {
            width: 93%;
        }
    }
    .line {
        width: 40%;
        margin: 139px auto 0;
        height: 5px;
        border-top: 1px solid $grayishBlue;

        @include min-width('large') {
            display: block;
            width: 151px;
            position: absolute;
            left: 165px;
            top: -185px;
            height: 5px;
            border-top: 1px solid $grayishBlue;
        }
    }
    h1 {
        color: $veryDarkViolet;
    }
    p {
        color: $darkGrayishViolet;
        margin-bottom: 14px;

        @include min-width("large") {
            margin-bottom: 59px;
        }
    }
    .logoPresentation {
        width: 22.7%;
        height: auto;
        margin: 0 auto;
        &:first-of-type{
            margin: 46px auto 0;

            @include min-width('large') {
                margin: 0;
            }
        } 
    }
    .presentationArticle {
        @include min-width('large') {
            display: flex;
            flex-direction: column;
            flex: 1;

            img {
                margin: 0;
                width: 22.6%;
            }
            p {
                padding: 0;
                margin-top: 18px;

                @include min-width("large") {
                    margin-top: inherit;
                }
            }
        }
    }
}

.howWeWorkContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $darkViolet;
    margin: 127px 23px 140px;
    position: relative;
    z-index: 1;
    min-height: 344px;

  

    h1 {
        font-size: 40px;
        line-height: 43px;
        padding: 42px 0 10px;
    }

    button {
        padding: 10px 24px;
        margin: 0 auto;
    }

    .rightBgImg {
        position: absolute;
        top: 0;
        right: 0;
        width: 54%;
    }

    @include min-width('large') {
        margin: 0 165px 150px;
        min-height: 250px;
        flex-direction: row;
        align-items: center;

        h1 {
            font-size: 54px;
            font-weight: 400;
            padding: 17px 0 17px 80px;
            text-align: left;
            line-height: 54px;
            letter-spacing: 0.3px;
            flex-basis: 44%;
        }
        button {
            padding: 10px 22px;
            margin: 0;
            background: transparent;
            z-index: 3;
            position: absolute;
            right: 80px;
            top: 50%;
            transform: translateY(-50%);

            &:active {
                background: $veryLightGray;
                a{
                    color: $darkViolet;
                }
            }
        }

        .rightBgImg {
            width: 39%;
            height: 100%;
        }
    }
}

footer {
    background-color: $veryLightGray;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include min-width("large") {
        display: block;
        text-align: left;
    }

    .footerHeader {
        z-index: 3;

        @include min-width("large") {
            display: flex;
            flex-direction: row;
            position: relative;
            
        }
    }

   
    .logoContainer {
        margin: 87px 0 28px;

        @include min-width("large") {
            margin: 0;
            flex-basis: 50%;
            padding: 67px 0px 0px 165px;
            box-sizing: border-box;
        }
    }
    .socialContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .socialLink {
            position: relative; 
           
        }
        .socialImg {
            margin: 0 8px;
            &:active {
                filter: invert(12%) sepia(19%) saturate(3039%) hue-rotate(1000deg) brightness(3%) contrast(85%);
            }
        }

        @include min-width("large") {
            flex-basis: 50%;
            box-sizing: border-box;
            padding: 65px 0 0 246px;
        }
    }
    .lineFooter {
        width: 87%;
        margin: 38px auto 5px;
        height: 5px;
        border-top: 1px solid $grayishBlue;

        @include min-width('large') {
            position: absolute;
            width: 77%;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
            top: 121px;
        }
    }
    h4 {
        text-transform: uppercase;
        font-family: $copy;
        font-size: 14px;
        font-weight: 400;
        color: $darkGrayishViolet;
    }

    nav {
        @include min-width("large") {
            display: flex;
            flex-direction: row;
            margin: 49px 0 0 164px;
            z-index: 3;
            position: relative;
        }
    }
    ul{
        padding: 0;
        line-height: 30px; 
        margin: 17px 0 27px;
        

        @include min-width("large") {
            margin: 0 174px 0 0;
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 31px;

            &.contact {
                margin-right: 210px;
            }

            &.helpMe {
                margin-right: 166px;
            }
        }
        li {
            list-style: none;
            text-transform: uppercase;
            font-family: $copy;
            &:not(:first-of-type) {
                cursor: pointer;
                font-size: 14px;
                letter-spacing: 1.4px;
            }
            

            &:active {
                text-decoration: underline;
            }

            &:first-of-type:active {
                cursor: default;
                text-decoration: none;
            }

            &>h4 {
                margin-bottom: 22px;
                letter-spacing: 1.4px;
            }
        }
    }
    .footerBgImg {
        position: absolute;
        top: 0;
        left:0;
        z-index: 1;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}