html, body {
  height: 100%; }

body.fixed {
  position: fixed; }

.mobileImage {
  display: block; }
  @media (min-width: 1280px) {
    .mobileImage {
      display: none; } }

.desktopImage {
  display: none; }
  @media (min-width: 1280px) {
    .desktopImage {
      display: block; } }

header {
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row; }
  @media (min-width: 1280px) {
    header {
      background-color: white;
      z-index: 3; } }
  header .logoContainer {
    flex: 1;
    padding: 31px 0 0 25px; }
    @media (min-width: 1280px) {
      header .logoContainer {
        padding-left: 167px; } }
  header .hamburgerMobile {
    flex: 1;
    position: relative; }
    @media (min-width: 1280px) {
      header .hamburgerMobile {
        display: none; } }
    header .hamburgerMobile img {
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      right: 23px; }
  header .hamburgerButton.hide {
    display: none; }
  header .closeButton {
    display: none; }
    header .closeButton.visible {
      display: block; }
    @media (min-width: 1280px) {
      header .closeButton {
        display: none; } }
  header nav {
    display: none; }
    header nav.visible {
      display: flex;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background: #2b272f;
      z-index: 999;
      top: 80px;
      text-transform: uppercase;
      font-family: "Karla", sans-serif;
      flex-direction: column;
      text-align: center;
      padding-top: 48px;
      letter-spacing: 2.3px; }
      header nav.visible a {
        text-decoration: none;
        color: #fafafa;
        margin-bottom: 41px;
        font-size: 20px; }
        @media (min-width: 1280px) {
          header nav.visible a {
            font-size: 14px;
            letter-spacing: 1px; } }
      header nav.visible button {
        padding: 15px;
        margin: -7px 24px;
        letter-spacing: 1.7px;
        background: #2b272f;
        border: 1px solid #fafafa; }
      header nav.visible .navBgImg {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; }
      @media (min-width: 1280px) {
        header nav.visible {
          display: none; } }
    @media (min-width: 1280px) {
      header nav {
        display: block;
        flex: 1;
        padding: 22px 0 0 48px;
        text-transform: uppercase;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        letter-spacing: 1px; }
        header nav a {
          text-decoration: none;
          color: #837d87;
          margin-right: 21px;
          font-weight: 700; }
          header nav a:active {
            color: #2d2640; }
        header nav button:active {
          background-color: #2d2640; }
          header nav button:active a {
            color: #fafafa; }
        header nav .viewPlansBtn {
          padding: 10px 28px;
          border: 1px solid #837d87;
          background-color: white;
          font-weight: 400;
          margin-left: 7px; }
          header nav .viewPlansBtn a {
            margin-right: 0; } }
    @media (min-width: 1280px) and (min-width: 1280px) {
      header nav .viewPlansBtn {
        font-size: 13px;
        letter-spacing: 1.5px; } }

h1 {
  position: relative;
  z-index: 2;
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 47px;
  letter-spacing: -1.5px; }

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 28px;
  letter-spacing: -1px;
  margin: 32px 0 4px; }
  @media (min-width: 1280px) {
    h3 {
      margin: 35px 0 20px; } }

p {
  font-family: "Karla", sans-serif;
  color: #fafafa;
  padding: 0 26px;
  line-height: 26px;
  margin-bottom: 24px; }
  @media (min-width: 1280px) {
    p {
      padding: 0 24px;
      line-height: 25px; } }

button {
  text-decoration: none;
  background-color: #2d2640;
  border: 1px solid #fafafa;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #fafafa; }
  button:active {
    background-color: #fafafa;
    color: #2d2640; }

.ctaContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 952px;
  background-color: #2d2640;
  position: relative; }
  @media (min-width: 1280px) {
    .ctaContainer {
      min-height: 600px; } }
  .ctaContainer .copyContainer {
    flex-grow: 1;
    position: relative; }
    .ctaContainer .copyContainer h1 {
      padding: 89px 22px 0;
      line-height: 50px;
      margin: 0; }
    .ctaContainer .copyContainer p {
      margin-bottom: 32px; }
    .ctaContainer .copyContainer button {
      padding: 10px 26px;
      margin-bottom: 28px; }
    .ctaContainer .copyContainer .line {
      display: none; }
      @media (min-width: 1280px) {
        .ctaContainer .copyContainer .line {
          display: block;
          width: 151px;
          position: absolute;
          left: 165px;
          top: 105px;
          height: 5px;
          border-top: 1px solid #95a9c6; } }
    @media (min-width: 1280px) {
      .ctaContainer .copyContainer .articleContainer {
        width: 50%;
        box-sizing: border-box;
        padding: 173px 16px 0 166px;
        text-align: left; }
        .ctaContainer .copyContainer .articleContainer h1 {
          font-size: 70px;
          padding: 0 10px 17px 0;
          line-height: 60px; }
        .ctaContainer .copyContainer .articleContainer p {
          padding: 0; } }
  .ctaContainer .leftBgImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 44%; }
    @media (min-width: 1280px) {
      .ctaContainer .leftBgImg {
        width: 13.5%;
        top: 431px; } }
  .ctaContainer .rightBgImg {
    position: absolute;
    bottom: -181px;
    right: 0;
    z-index: 1;
    width: 34%; }
    @media (min-width: 1280px) {
      .ctaContainer .rightBgImg {
        z-index: 1;
        width: 30%;
        right: 3px;
        top: -79px; } }
  .ctaContainer img {
    width: 100%;
    height: auto; }
    @media (min-width: 1280px) {
      .ctaContainer img {
        position: absolute;
        right: 11.5%;
        width: 37.5%;
        top: 106px; } }

.presentationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 79px;
  position: relative;
  z-index: 999; }
  @media (min-width: 1280px) {
    .presentationContainer {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
      padding: 0 133px 0 165px;
      margin: 351px 0 101px 0; }
      .presentationContainer h1 {
        flex: 0 0 100%;
        margin: 9px 0 88px 0;
        font-size: 70px; }
      .presentationContainer p {
        width: 93%; } }
  .presentationContainer .line {
    width: 40%;
    margin: 139px auto 0;
    height: 5px;
    border-top: 1px solid #95a9c6; }
    @media (min-width: 1280px) {
      .presentationContainer .line {
        display: block;
        width: 151px;
        position: absolute;
        left: 165px;
        top: -185px;
        height: 5px;
        border-top: 1px solid #95a9c6; } }
  .presentationContainer h1 {
    color: #2b272f; }
  .presentationContainer p {
    color: #837d87;
    margin-bottom: 14px; }
    @media (min-width: 1280px) {
      .presentationContainer p {
        margin-bottom: 59px; } }
  .presentationContainer .logoPresentation {
    width: 22.7%;
    height: auto;
    margin: 0 auto; }
    .presentationContainer .logoPresentation:first-of-type {
      margin: 46px auto 0; }
      @media (min-width: 1280px) {
        .presentationContainer .logoPresentation:first-of-type {
          margin: 0; } }
  @media (min-width: 1280px) {
    .presentationContainer .presentationArticle {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .presentationContainer .presentationArticle img {
        margin: 0;
        width: 22.6%; }
      .presentationContainer .presentationArticle p {
        padding: 0;
        margin-top: 18px; } }
    @media (min-width: 1280px) and (min-width: 1280px) {
      .presentationContainer .presentationArticle p {
        margin-top: inherit; } }

.howWeWorkContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2d2640;
  margin: 127px 23px 140px;
  position: relative;
  z-index: 1;
  min-height: 344px; }
  .howWeWorkContainer h1 {
    font-size: 40px;
    line-height: 43px;
    padding: 42px 0 10px; }
  .howWeWorkContainer button {
    padding: 10px 24px;
    margin: 0 auto; }
  .howWeWorkContainer .rightBgImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 54%; }
  @media (min-width: 1280px) {
    .howWeWorkContainer {
      margin: 0 165px 150px;
      min-height: 250px;
      flex-direction: row;
      align-items: center; }
      .howWeWorkContainer h1 {
        font-size: 54px;
        font-weight: 400;
        padding: 17px 0 17px 80px;
        text-align: left;
        line-height: 54px;
        letter-spacing: 0.3px;
        flex-basis: 44%; }
      .howWeWorkContainer button {
        padding: 10px 22px;
        margin: 0;
        background: transparent;
        z-index: 3;
        position: absolute;
        right: 80px;
        top: 50%;
        transform: translateY(-50%); }
        .howWeWorkContainer button:active {
          background: #fafafa; }
          .howWeWorkContainer button:active a {
            color: #2d2640; }
      .howWeWorkContainer .rightBgImg {
        width: 39%;
        height: 100%; } }

footer {
  background-color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 1280px) {
    footer {
      display: block;
      text-align: left; } }
  footer .footerHeader {
    z-index: 3; }
    @media (min-width: 1280px) {
      footer .footerHeader {
        display: flex;
        flex-direction: row;
        position: relative; } }
  footer .logoContainer {
    margin: 87px 0 28px; }
    @media (min-width: 1280px) {
      footer .logoContainer {
        margin: 0;
        flex-basis: 50%;
        padding: 67px 0px 0px 165px;
        box-sizing: border-box; } }
  footer .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer .socialContainer .socialLink {
      position: relative; }
    footer .socialContainer .socialImg {
      margin: 0 8px; }
      footer .socialContainer .socialImg:active {
        filter: invert(12%) sepia(19%) saturate(3039%) hue-rotate(1000deg) brightness(3%) contrast(85%); }
    @media (min-width: 1280px) {
      footer .socialContainer {
        flex-basis: 50%;
        box-sizing: border-box;
        padding: 65px 0 0 246px; } }
  footer .lineFooter {
    width: 87%;
    margin: 38px auto 5px;
    height: 5px;
    border-top: 1px solid #95a9c6; }
    @media (min-width: 1280px) {
      footer .lineFooter {
        position: absolute;
        width: 77%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 121px; } }
  footer h4 {
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #837d87; }
  @media (min-width: 1280px) {
    footer nav {
      display: flex;
      flex-direction: row;
      margin: 49px 0 0 164px;
      z-index: 3;
      position: relative; } }
  footer ul {
    padding: 0;
    line-height: 30px;
    margin: 17px 0 27px; }
    @media (min-width: 1280px) {
      footer ul {
        margin: 0 174px 0 0;
        font-size: 14px;
        letter-spacing: 1.4px;
        line-height: 31px; }
        footer ul.contact {
          margin-right: 210px; }
        footer ul.helpMe {
          margin-right: 166px; } }
    footer ul li {
      list-style: none;
      text-transform: uppercase;
      font-family: "Karla", sans-serif; }
      footer ul li:not(:first-of-type) {
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 1.4px; }
      footer ul li:active {
        text-decoration: underline; }
      footer ul li:first-of-type:active {
        cursor: default;
        text-decoration: none; }
      footer ul li > h4 {
        margin-bottom: 22px;
        letter-spacing: 1.4px; }
  footer .footerBgImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
