header {
  height: 80px;
  display: flex;
  flex-direction: row; }
  header .logoContainer {
    flex: 1;
    padding: 31px 0 0 25px; }
  header .hamburgerMobile {
    flex: 1;
    position: relative; }
    @media (min-width: true) {
      header .hamburgerMobile {
        display: none; } }
    header .hamburgerMobile img {
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      right: 23px; }
  header nav {
    display: none; }
    @media (min-width: true) {
      header nav {
        display: block; } }

.ctaContainer {
  background-color: #2d2640;
  background-image: url("./images/bg-pattern-intro-left-mobile.svg");
  min-height: 952px;
  text-align: center; }
  .ctaContainer h1 {
    font-family: "DM Serif Display", serif;
    color: #fafafa;
    font-size: 47px;
    letter-spacing: -1.5px;
    padding: 54px 22px 0;
    line-height: 50px;
    margin: 34px 0 0 0; }
  .ctaContainer p {
    font-family: "Karla", sans-serif;
    color: #fafafa;
    padding: 0 24px;
    line-height: 25px;
    margin-bottom: 24px; }
  .ctaContainer button {
    text-decoration: none;
    background-color: #2d2640;
    border: 1px solid #fafafa;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    padding: 10px 28px;
    color: #fafafa; }
