//colors

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

//fonts

$heading: 'DM Serif Display', serif;
$copy: 'Karla', sans-serif;

//fonts-size

$bodyCopySize: 16px;
$headingSize: 47px;
$letterSpacing: -1.5px;